@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  var evToolbar = Kit.Toolbar.Empty().Edit();
}

@if (MyUser.IsContentAdmin) {
  var i = 0;
  <div class="mb-2 alert alert-warning admin-eventswithoutdate">
    <strong class="d-block mb-1">@AllResources.String("HeadlineEventsWithoutDate")</strong>
    <ul class="list-group">
      @foreach (var ev in AsItems(App.Data["Event"])) {
        var eventCount = AsItems(App.Data["EventDate"]).Where(d => d.DateTime("Start").Date >= DateTime.Now.Date).Where(d => d.Child("Event").Id == ev.Id).Count();
        if (eventCount == 0) {
          var eventLink = Link.To(parameters: MyPage.Parameters.Set("details", ev.Id).Set(ev.String("UrlKey")));
          <li class="list-group-item list-group-item-light mb-0" @evToolbar.For(ev)>
            <a href="@eventLink" class="text-dark">@ev.String("Title")</a>
          </li>
          i++;
        }
      }
    </ul>
  </div>

  if (i == 0) {
    <style>
      .admin-eventswithoutdate {
        display: none;
      }
    </style>
  }
}