
.app-date, .app-categories {
	font-size: $font-size-base * 0.8;
	font-weight: bold;
	text-transform: uppercase;
}

.app-events-furtherdates-title {
	font-weight: bold;
	//letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: $grid-gutter-width;
	display: block;
	color: $primary;
}

.app-events-furtherdates {
	border-bottom: 1px solid #bcbcbc;


	> a {
		color: #000;

		strong {
			display: inline-block;
			padding: 3px 0;
		}

		&:hover {
			text-decoration: none;
			color: $primary !important;
		}

		&:visited,
		&:link {
			color: #333;
		}
	}

	&.active {
		>a {
			color: $primary !important;
		}
	}
}

.app-events.app-events-detail {

	.app-events-infocontainer {
		flex: 1 1 50%;

		h6 {
			border-bottom: 1px solid $primary;
			padding-bottom: 4px;
			margin-bottom: 0;
		}
	}

	.app-events-date,
	.app-events-categories {
		font-size: 10px;
		letter-spacing: 1px;
		display: inline-block;
		margin: 0;
		font-weight: 700;
	}

	.app-events-date {
		color: #999999;
	}

	.app-events-categories>span {
		//color: $primary;
		color: #999999;
		text-transform: uppercase;
		//cursor: pointer;
	}

	a.app-events-backtolist {
		margin: $grid-gutter-width 0;
	}
}

.app-events-detail {
	a.btn {
		transition: .3s ease background-color;
		border: 1px solid $primary;

		&.btn-default,
		&.btn-secondary {
			background: #fff;
			color: $primary;

			&:hover {
				color: #fff;
				background-color: $primary;
			}
		}

		&.btn-primary {
			color: #fff;
			background-color: $primary;

			&:hover {
				background: #fff;
				color: $primary;
			}
		}
	}
}