@import "../../../_default/Skins/2sxcBootstrap-B4/src/scss/_variables.scss";
@import "../../../_default/Skins/2sxcBootstrap-B4/node_modules/bootstrap/scss/mixins/_breakpoints.scss";

/* choose this if bootstrap3 */
$brand-primary: $primary;
$text-color: #555;
$gray-light: #cecece;

$screen-sm-min: 768;
$screen-md-min: 992;