
.app-events {
    &.app-event-list {
        .app-event-list-details {
            .app-img {
                position: relative;

                &.app-noimg {
                    background: #e9ecef;
                }
                
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: rgba($dark, .0);
                    background-repeat: no-repeat;
                    background-position: center center;
                    transition: background-color .3s ease-in-out;
                }
			} 

            .app-text {
                span {
                    font-size: $font-size-base * 0.8;
                    font-weight: bold;

                    &.app-date {
                        &.app-date-border {
                            border-right: 1px solid $body-color;
                            padding-right: 8px;
                            margin-right: 4px;
                        }
                    }

                    &.app-categories {
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        margin-right: 8px;
                        color: $primary;
                    }
                }
                
                a {
                    text-decoration: none;
                }
            }

			
			// Hover Styling
            &:hover {
                .app-img {
                    span {
                        background-color: rgba($dark, .4);
                    }
                }
                .app-text {
                    h3, h2 {
                        color: $primary;
                    }
                }

            }
        }
	} 
    
    // Pagination
    .app-events-paging {
        width: 100%;
        text-align: center;
        margin-top: $grid-gutter-width;
        > a {
            display: inline-block;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
            font-size: 16px;
            line-height: 30px;
            color: #666;
            transition: background .2s ease, color .2s ease;
            &:hover {
                background: $primary;
                color: #fff;
            }
            &.app-events-paging-active {
                background: $primary;
                color: #fff;
            }
            &.app-events-prev-pager {
                background: #fff;
            }
            &.app-events-next-pager {
                background: #fff;
            }
        }
    }
}